//
//  HTTPServer Library.xcconfig
//  HTTPServer
//
//  Created by Dan Zinngrabe on 5/01/12.
//  Copyright (c) 2012 quellish.org. All rights reserved.
//

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos
VALID_ARCHS = $(ARCHS_STANDARD_32_BIT)
ONLY_ACTIVE_ARCH = NO
DEAD_CODE_STRIPPING = NO
MACH_O_TYPE = staticlib
MACOSX_DEPLOYMENT_TARGET = $(inherited)
SKIP_INSTALL = YES
PRIVATE_HEADERS_FOLDER_PATH = /usr/local/include
PUBLIC_HEADERS_FOLDER_PATH = include/${PRODUCT_NAME}
CLANG_ENABLE_OBJC_ARC = YES

HEADER_SEARCH_PATHS = $(inherited) $(SDKROOT)/usr/include/libxml2
OTHER_LDFLAGS = $(inherited) -ObjC -all_load

GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
RUN_CLANG_STATIC_ANALYZER = YES